/* Header CSS */

header {
    width: 100%;
    position: sticky;
    top: 0;
}

nav {
    background-color: whitesmoke;
    overflow: hidden;
    border: solid black;
    height: 3em;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li{
    flex: 1 1 auto;
    line-height: 2.75em;
    letter-spacing: .4em;
    padding: 0em 0em;
    text-align: center;
}

nav ul li a {
    color: black;
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: none;
    word-break: break-all
}

nav li a:hover {
    color: darkgrey;
    font-weight: 900;
    text-decoration: underline;
}

.nav-logo {
    float: left;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: .2em;
    text-align: left;
    padding-left: 4em;
    word-break: break-all;
    /* width: 18%; */
    /* border-right: 2px solid black; */
}