/* Fonts for the website */
* {
    font-family: "Lucida Console", "Courier New", monospace;
    /* font-family: "Times New Roman", Times, cursive; */
}

/* Used to remove underscore next to icons (Sidebar) */
.no-decoration {
    text-decoration: none;
}

/* Color and font style change for links */
a {
    color: #353839;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: black;
    font-weight: 900;
}

/* Remove border from sidebar page links */
.list-group-item {
    border: none;
}

/* Removes styles form the element in a list */
.no-list-style {
    list-style-type: none;
}

/* Align and center image of my-life.html */
.img-fluid {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid #353839;
}

p.image-caption {
    text-align: center;
    margin: 0;
    padding: 1em;
}

#date {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}
